@use "./mixins.scss" as *;
.article {
	@include defaultSpacing;
}

.gridWrapper {
	@include defaultSpacing;
	padding-block-start: 0;
	.postsList {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
		column-gap: 2rem;
		row-gap: 2.5rem;
	}
}

.pagination {
	> .wrapper {
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.75rem;
			&:has(li) {
				margin-block-start: 4rem;
			}
			li a {
				@include btn-primary;
				min-width: unset;
			}

			li span {
				@include btn;
				min-width: unset;
				background-color: var(--color-surface-dark);
				color: var(--color-accent-2);
			}
		}
	}
}
